/*header mobiles*/
$header_mobile:rgb(42, 35, 71);

/*header pc*/
$header_pc:linear-gradient(rgba(42, 35, 71,99) 70%, rgb(20,16,38));

/*fondo*/
$morado_fondo:rgb(21, 17, 40);

/*footer*/
$gris_footer:rgba(45, 48, 65, 0.7);

/*letras*/
$letras_interior:white;
$letras_titulos:rgb(208, 166, 37);

/*compras*/
$gris_zona_compras:#404558;

/*bordes*/
$bordes_color:rgb(212, 175, 55);
